# 1. Acquisition

In [1]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import re

'''
Hostname='localhost'
un='root'
password=getpass()
engine=create_engine(f'mysql+pymysql://{un}:{password}@{Hostname}/{db}')
'''

In [2]:
#url='https://www.kaggle.com/teajay/global-shark-attacks/version/1'

In [3]:
import os
os.chdir(r'C:\Users\Arthur\248_Repo\Labs\module_1\Pipelines-Project\data')

In [4]:
df=pd.read_csv('attacks.csv', sep=',', encoding='latin-1')

In [5]:
df.head(5)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

# 2. Wrangling

In [6]:
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25723 entries, 0 to 25722
Data columns (total 24 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Case Number             8702 non-null   object
 1   Date                    6302 non-null   object
 2   Year                    6300 non-null   float64
 3   Type                    6298 non-null   object
 4   Country                 6252 non-null   object
 5   Area                    5847 non-null   object
 6   Location                5762 non-null   object
 7   Activity                5758 non-null   object
 8   Name                    6092 non-null   object
 9   Sex                     5737 non-null   object
 10  Age                     3471 non-null   object
 11  Injury                  6274 non-null   object
 12  Fatal (Y/N)             5763 non-null   object
 13  Time                    2948 non-null   object
 14  Species                 3464 non-null   object
 15  Investigator or Source  6285 non-null   object
 16  pdf                     6302 non-null   object
 17  href formula            6301 non-null   object
 18  href                    6302 non-null   object
 19  Case Number.1           6302 non-null   object
 20  Case Number.2           6302 non-null   object
 21  original order          6309 non-null   float64
 22  Unnamed: 22             1 non-null      object
 23  Unnamed: 23             2 non-null      object
dtypes: float64(2), object(22)
memory usage: 4.7+ MB

In [8]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [9]:
df.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [10]:
df.nunique()

Case Number               6287
Date                      5433
Year                       249
Type                         8
Country                    212
Area                       825
Location                  4108
Activity                  1532
Name                      5230
Sex                          6
Age                        157
Injury                    3737
Fatal (Y/N)                  8
Time                       366
Species                   1549
Investigator or Source    4969
pdf                       6291
href formula              6290
href                      6285
Case Number.1             6285
Case Number.2             6286
original order            6308
Unnamed: 22                  1
Unnamed: 23                  2
dtype: int64

In [11]:
df.mode()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,1957,2015.0,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,...,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1907.10.16.R,1907.10.16.R,569.0,stopped here,Teramo
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1906.09.27.R.a&b-Munich-Swede.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1913.08.27.R,1913.08.27.R,NaN,NaN,change filename
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1907.10.16.R-HongKong.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1915.07.06.a.R,1915.07.06.a.R,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1916.07.12.a-b-Stillwell-Fisher.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1920.00.00.b,1920.00.00.b,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1916.12.08.a-b-German.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1923.00.00.a,1923.00.00.a,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1921.11.27.a-b-Jack.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1952.08.04,1962.06.11.b,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1923.00.00.a-NJ fisherman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1962.06.11.b,1966.12.26,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1929.03.04.a-b.Roads-Aldridge.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1966.12.26,1980.07.00,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1931.09.21.a-b-Holaday-Barrows.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1980.07.00,1983.06.15,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1934.12.23.a-b-Inman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1983.06.15,1990.05.10,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1935.06.05.R-SolomonIslands.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,NaN,1990.05.10,2005.04.06,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2005.04.06,2006.09.02,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2006.09.02,2009.12.18,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2009.12.18,2012.09.02.b,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2012.09.02.b,2013.10.05,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2013.10.05,2014.08.02,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2014.08.02,NaN,NaN,NaN,NaN

In [12]:
df.isna().sum()

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

In [13]:
df.shape

(25723, 24)

In [14]:
df.isna().sum().sum()

488276

In [15]:
# 25723 rows × 24 columns = 617 352 values and 488276 are NaN
# 79% of the DB is empty

Few comments:
- Year column should be int instead of float
- we don't know what columns Unnamed: 22 & Unnamed: 23 store
- original order could be int instead of object
- some male are stored into the Name column - that doesnt make sense that should be cleaned
- Not sure why we have two case number 1 & 2
- when the year is missing we can refer to the case number were the year is indicated (sometimes two different years shown)
- columns not bringing good information:

In [16]:
df['Unnamed: 22']

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
25718    NaN
25719    NaN
25720    NaN
25721    NaN
25722    NaN
Name: Unnamed: 22, Length: 25723, dtype: object

In [17]:
#df.sort_values(by='Rotten_Tomatoes', ascending=False, inplace=True)

In [18]:
missing_data=(df.isna().sum()/df.shape[0]*100).round(2)
missing_data[missing_data>0]

Case Number                66.17
Date                       75.50
Year                       75.51
Type                       75.52
Country                    75.69
Area                       77.27
Location                   77.60
Activity                   77.62
Name                       76.32
Sex                        77.70
Age                        86.51
Injury                     75.61
Fatal (Y/N)                77.60
Time                       88.54
Species                    86.53
Investigator or Source     75.57
pdf                        75.50
href formula               75.50
href                       75.50
Case Number.1              75.50
Case Number.2              75.50
original order             75.47
Unnamed: 22               100.00
Unnamed: 23                99.99
dtype: float64

In [19]:
df['Unnamed: 23'][df['Unnamed: 23'].notna()]

4415             Teramo
5840    change filename
Name: Unnamed: 23, dtype: object

In [20]:
df['Unnamed: 22'][df['Unnamed: 22'].notna()]

1478    stopped here
Name: Unnamed: 22, dtype: object

In [21]:
# based on that table we can consider  Unnamed: 22 & Unnamed: 23 store has not useful and we can drop them

In [22]:
df.drop(columns=['Unnamed: 22', 'Unnamed: 23'], inplace=True)
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df=df.drop(df[df.isna().sum(axis=1)>df.shape[1]-3].index).copy()

In [24]:
df.Activity

0           Paddling
1           Standing
2            Surfing
3            Surfing
4        Free diving
            ...
6297          Diving
6298    Pearl diving
6299        Swimming
6300             NaN
6301        Swimming
Name: Activity, Length: 6302, dtype: object

In [25]:
df.Activity.nunique()

1532

In [26]:
df.Activity.describe()

count        5758
unique       1532
top       Surfing
freq          971
Name: Activity, dtype: object

In [27]:
df.Activity.str.lower().dropna().values
#df.Activity.str.lower().dropna().values.size

array(['paddling', 'standing', 'surfing', ..., 'pearl diving', 'swimming',
       'swimming'], dtype=object)

In [28]:
bag_words = [j for i in df.Activity.str.lower().dropna().values for j in i.split()]

In [29]:
bag_words = [j for i in df.Activity.str.lower().dropna().values for j in re.findall(r'[a-z_]{3,}',i)]

In [30]:
print(len(bag_words))
print(len(set(bag_words)))

12796
1782

In [31]:
words=list(set(bag_words))
words

['man',
 'dinghy',
 'transport',
 'thingvalla',
 'maurine',
 'disemboweled',
 'retrieving',
 'surface',
 'watts',
 'wash',
 'shad',
 'mouth',
 'boat',
 'reiyo',
 'platform',
 'bedford',
 'missing',
 'ann',
 'grabbing',
 'set',
 'abducted',
 'hull',
 'melmore',
 'two',
 'nova',
 'hard',
 'kakaying',
 'tony',
 'fired',
 'stuffing',
 'octopus',
 'palm',
 'repair',
 'exercising',
 'pilar',
 'bumped',
 'gem',
 'instead',
 'stratocruiser',
 'down',
 'inter',
 'outside',
 'survivors',
 'earlier',
 'gambier',
 'harbor',
 'observing',
 'wade',
 'jason',
 'pacquebot',
 'feature',
 'maria',
 'inspecting',
 'ship',
 'crewman',
 'paddleboarding',
 'more',
 'life',
 'tripod',
 'stand',
 'oystering',
 'deserting',
 'pursuing',
 'alfonso',
 'involving',
 'beneath',
 'sole',
 'luxury',
 'tank',
 'tins',
 'baby',
 'first',
 'hook',
 'anchor',
 'valerian',
 'paddle',
 'angeles',
 'rock',
 'help',
 'gun',
 'among',
 'walking',
 'hand',
 'mciver',
 'tiger',
 'aircraft',
 'sagay',
 'weather',
 'seabirds',
 'pearl',
 'gaffing',
 'annasona',
 'lingcod',
 'laborers',
 'esperanza',
 'errol',
 'scallop',
 'jumped',
 'saw',
 'loss',
 'surfaced',
 'fed',
 'friends',
 'gamil',
 'texas',
 'bathing',
 'rescued',
 'scallops',
 'sighting',
 'kob',
 'supplied',
 'gathering',
 'alfred',
 'apart',
 'catch',
 'without',
 'outlet',
 'body',
 'pushing',
 'indies',
 'queen',
 'arsinoe',
 'wreck',
 'atlantic',
 'camera',
 'reviving',
 'vula',
 'shikishima',
 'hospital',
 'cheur',
 'tsingt',
 'crabs',
 'fireman',
 'ditching',
 'unknown',
 'ward',
 'treveluwe',
 'geiser',
 'lifting',
 'gunwale',
 'lasso',
 'throat',
 'canada',
 'pneumatic',
 'probable',
 'snapper',
 'treading',
 'girl',
 'princess',
 'ricardo',
 'ton',
 'freighter',
 'california',
 'probabable',
 'paddling',
 'alabama',
 'severe',
 'mezada',
 'guns',
 'thor',
 'paua',
 'tug',
 'sitting',
 'tarpon',
 'launched',
 'racing',
 'fire',
 'stoke',
 'knee',
 'drift',
 'utensils',
 'difficulty',
 'african',
 'heavy',
 'dorsetshire',
 'prawns',
 'defecating',
 'normally',
 'take',
 'nov',
 'airforce',
 'cathodes',
 'chase',
 'research',
 'sulphur',
 'outrigger',
 'warship',
 'luis',
 'masted',
 'inshore',
 'silver',
 'italian',
 'exercise',
 'mavis',
 'dhow',
 'william',
 'horseback',
 'liberty',
 'repairing',
 'miami',
 'occupants',
 'retreive',
 'engine',
 'escaping',
 'halibut',
 'barrel',
 'state',
 'film',
 'stars',
 'somers',
 'shelled',
 'passer',
 'spray',
 'hamilton',
 'raging',
 'piper',
 'apr',
 'hunt',
 'gut',
 'dory',
 'moeraki',
 'coas',
 'midway',
 'caribbee',
 'tanker',
 'hooked',
 'reef',
 'underwater',
 'december',
 'wind',
 'calving',
 'double',
 'breakwater',
 'pilot',
 'leaving',
 'selfie',
 'towing',
 'from',
 'ore',
 'electronic',
 'destroyed',
 'sleeping',
 'surfacing',
 'inner',
 'wrecked',
 'transatlantic',
 'space',
 'kayaking',
 'alacatraz',
 'lugger',
 'seaplane',
 'goggle',
 'ball',
 'hbm',
 'union',
 'survivng',
 'silcily',
 'dead',
 'porta',
 'gooney',
 'waiting',
 'said',
 'conked',
 'thomas',
 'swamped',
 'bluefields',
 'pioneer',
 'daughter',
 'flying',
 'playing',
 'accident',
 'sharkey',
 'tahiti',
 'hoel',
 'about',
 'gioia',
 'dress',
 'coming',
 'carnival',
 'stage',
 'austrian',
 'trailing',
 'children',
 'other',
 'big',
 'swell',
 'half',
 'also',
 'pick',
 'entangled',
 'recovered',
 'race',
 'skin',
 'camperdown',
 'officers',
 'kearsarge',
 'sampam',
 'gunned',
 'tennis',
 'picture',
 'crosby',
 'trip',
 'victim',
 'pilchards',
 'breaking',
 'snagged',
 'gale',
 'skiff',
 'pots',
 'culling',
 'afterwards',
 'nsb',
 'put',
 'alongsidethe',
 'market',
 'surrender',
 'homicide',
 'sunk',
 'sydney',
 'bit',
 'rocket',
 'ice',
 'fins',
 'tacoma',
 'boardin',
 'civilians',
 'throwing',
 'george',
 'riding',
 'crashed',
 'michael',
 'coastal',
 'stingrays',
 'crossfire',
 'troopship',
 'tend',
 'harassing',
 'traps',
 'fukulya',
 'airplane',
 'smallest',
 'maartin',
 'kitesurfing',
 'noaa',
 'bet',
 'batin',
 'japanese',
 'own',
 'crayfishing',
 'religious',
 'attack',
 'molten',
 'mending',
 'point',
 'ocean',
 'propeller',
 'vehicle',
 'house',
 'white',
 'attacked',
 'chandris',
 'coaster',
 'norfolk',
 'killed',
 'tandem',
 'sandtiger',
 'shoal',
 'afterdeck',
 'cruising',
 'shorewards',
 'captain',
 'touching',
 'device',
 'marilyn',
 'midriver',
 'whyalla',
 'tropical',
 'flash',
 'baitfish',
 'guadalcanal',
 'newcastle',
 'bivalves',
 'dog',
 'operated',
 'rover',
 'rubber',
 'gill',
 'nightclub',
 'apparently',
 'turtle',
 'teeth',
 'aboard',
 'eady',
 'recovering',
 'aground',
 'expecting',
 'libertad',
 'sunbathing',
 'closed',
 'drums',
 'holding',
 'destroyers',
 'shipmates',
 'while',
 'dynamited',
 'when',
 'fishboat',
 'ramos',
 'intoxicated',
 'pan',
 'nomad',
 'creek',
 'found',
 'dozens',
 'gloucester',
 'seriola',
 'photographing',
 'stamding',
 'chasing',
 'spearing',
 'perch',
 'came',
 'dona',
 'second',
 'pulled',
 'soccer',
 'wheels',
 'kill',
 'port',
 'poaching',
 'wading',
 'scenes',
 'dunedin',
 'away',
 'hands',
 'usa',
 'painting',
 'coral',
 'escaped',
 'salvaging',
 'ascended',
 'jettisoned',
 'boarding',
 'warn',
 'axis',
 'ada',
 'permission',
 'catching',
 'kite',
 'dundee',
 'over',
 'jame',
 'towed',
 'latona',
 'slave',
 'leapt',
 'washing',
 'stringer',
 'dates',
 'abandoned',
 'practice',
 'tech',
 'massachusetts',
 'son',
 'seafarer',
 'vessle',
 'minesweeper',
 'both',
 'dynamite',
 'hip',
 'escape',
 'joe',
 'menhaden',
 'working',
 'cover',
 'tzenny',
 'feu',
 'details',
 'water',
 'failed',
 'grounds',
 'shooting',
 'ejected',
 'spent',
 'bundles',
 'bodysurfing',
 'remove',
 'caribou',
 'tackle',
 'scooter',
 'fog',
 'enter',
 'snappers',
 'scurfing',
 'smashed',
 'france',
 'cairo',
 'lobsters',
 'windsurfing',
 'charge',
 'florida',
 'full',
 'who',
 'carlos',
 'bending',
 'week',
 'atlanta',
 'object',
 'wharf',
 'whom',
 'french',
 'retrieve',
 'whales',
 'pig',
 'venture',
 'stroke',
 'battle',
 'fallen',
 'beche',
 'alongside',
 'captured',
 'polurrian',
 'deserted',
 'cebu',
 'logs',
 'takeoff',
 'mask',
 'suez',
 'dianne',
 'airship',
 'steamer',
 'jet',
 'woodvale',
 'christine',
 'becky',
 'agust',
 'colony',
 'finger',
 'gully',
 'traveling',
 'cutting',
 'taken',
 'whale',
 'typhoon',
 'next',
 'elcano',
 'pipeline',
 'leader',
 'technical',
 'imprisonment',
 'rico',
 'albacore',
 'leonardo',
 'basking',
 'lien',
 'japanes',
 'formation',
 'stunned',
 'forced',
 'dredge',
 'thrown',
 'raid',
 'police',
 'hooking',
 'seining',
 'stopped',
 'abalone',
 'box',
 'atop',
 'tahitienne',
 'bow',
 'preserver',
 'mary',
 'sculling',
 'british',
 'dolphins',
 'salmon',
 'pier',
 'huncliff',
 'saluda',
 'modeling',
 'icebox',
 'survivor',
 'skindiving',
 'fighters',
 'gas',
 'lamplight',
 'perlemoen',
 'stairs',
 'shoulder',
 'howell',
 'yachting',
 'deep',
 'awaiting',
 'vestris',
 'logged',
 'bar',
 'ceremony',
 'penna',
 'onda',
 'purse',
 'subsequently',
 'loless',
 'photo',
 'argentine',
 'kapuna',
 'filming',
 'missouri',
 'ornamental',
 'perished',
 'floatation',
 'lifejackets',
 'stood',
 'inlet',
 'rebel',
 'stilwell',
 'junk',
 'raft',
 'yawlboat',
 'resolution',
 'never',
 'isle',
 'tossing',
 'aphrodite',
 'nazarene',
 'packets',
 'turned',
 'castle',
 'portuguese',
 'kaimamla',
 'mattress',
 'mosli',
 'fiesta',
 'constellation',
 'mafalda',
 'sampan',
 'single',
 'bongbong',
 'samara',
 'european',
 'many',
 'norwich',
 'its',
 'sardine',
 'between',
 'cyclone',
 'medic',
 'deck',
 'flannel',
 'bonnie',
 'scrap',
 'piece',
 'wilcox',
 'expedition',
 'scene',
 'buyo',
 'shipmate',
 'ascending',
 'foot',
 'guarding',
 'urchins',
 'mesh',
 'yemen',
 'probably',
 'airliner',
 'into',
 'jack',
 'bananas',
 'halycon',
 'fleet',
 'frederick',
 'ferryboat',
 'molluscs',
 'horses',
 'barge',
 'amerique',
 'his',
 'royal',
 'principessa',
 'ahu',
 'aborigines',
 'empire',
 'fix',
 'the',
 'crawling',
 'boeing',
 'driver',
 'columbian',
 'dwarka',
 'josephine',
 'chala',
 'johnston',
 'surfng',
 'sailboarding',
 'ground',
 'bluefish',
 'salvage',
 'fortress',
 'survived',
 'una',
 'took',
 'cup',
 'ditched',
 'enclosure',
 'known',
 'removing',
 'beached',
 'along',
 'meshing',
 'hat',
 'allied',
 'fish',
 'machine',
 'refugees',
 'clamming',
 'kissing',
 'makeshift',
 'inside',
 'motorship',
 'harbour',
 'launching',
 'fell',
 'bioluminesce',
 'cage',
 'shot',
 'craypot',
 'force',
 'pushed',
 'whiting',
 'surveying',
 'yards',
 'sticks',
 'petting',
 'school',
 'plastic',
 'movie',
 'fashioned',
 'paddleboard',
 'below',
 'carrier',
 'anchored',
 'upset',
 'southern',
 'crawl',
 'tossed',
 'buoys',
 'tied',
 'around',
 'log',
 'being',
 'intercepted',
 'cliff',
 'ford',
 'fisherman',
 'mariston',
 'offshore',
 'alan',
 'magpie',
 'hiking',
 'ashore',
 'garten',
 'raytheon',
 'ken',
 'norwegian',
 'anti',
 'menaced',
 'cornwall',
 'eddie',
 'naptha',
 'footing',
 'others',
 'grabbed',
 'izzi',
 'tip',
 'passed',
 'free',
 'atun',
 'dismantling',
 'goggles',
 'murder',
 'aid',
 'drifted',
 'carried',
 'minutes',
 'sinkers',
 'seashells',
 'chieh',
 'buenos',
 'harpooning',
 'jerked',
 'divers',
 'juneau',
 'date',
 'lieut',
 'cast',
 'urinating',
 'out',
 'burned',
 'esso',
 'competing',
 'long',
 'sears',
 'followed',
 'pans',
 'arabia',
 'bather',
 'rear',
 'reached',
 'contract',
 'nets',
 'endurance',
 'attracted',
 'vigorously',
 'swimming',
 'slipped',
 'sardines',
 'vessel',
 'dropped',
 'navy',
 'parachuted',
 'burning',
 'irma',
 'permina',
 'torpedoes',
 'soldiers',
 'mark',
 'opium',
 'encountered',
 'ride',
 'tweed',
 'sharks',
 'flounder',
 'lunga',
 'yacht',
 'jaws',
 'venator',
 'laying',
 'magellan',
 'foil',
 'bark',
 'winds',
 'iron',
 'trader',
 'bait',
 'attached',
 'gigging',
 'yms',
 'sudden',
 'bathers',
 'popa',
 'bay',
 'sight',
 'tangled',
 'trawling',
 'scout',
 'seas',
 'rudder',
 'swam',
 'conch',
 'cabin',
 'walker',
 'angoche',
 'splashing',
 'opened',
 'pompano',
 'patrol',
 'canal',
 'searching',
 'clothes',
 'sandbank',
 'people',
 'heard',
 'banana',
 'coins',
 'wood',
 'pearls',
 'strong',
 'wrist',
 'canoe',
 'jumping',
 'surfboard',
 'crouching',
 'american',
 'bamboo',
 'fumes',
 'irene',
 'fishing',
 'malacca',
 'formed',
 'paddleski',
 'tried',
 'cruiser',
 'containing',
 'kapok',
 'orator',
 'pohoiki',
 'lumber',
 'regatta',
 'avoid',
 'bringing',
 'reading',
 'ulua',
 'seeing',
 'singapore',
 'used',
 'board',
 'discoverer',
 'nationalist',
 'crewmen',
 'mia',
 'drowning',
 'len',
 'crew',
 'resting',
 'placed',
 'kafir',
 'using',
 'hinemoa',
 'examing',
 'slapped',
 'display',
 'cleaning',
 'attract',
 'rode',
 'hours',
 'yachtsman',
 'wearing',
 'jackets',
 'panamanian',
 'sack',
 'earthquake',
 'shipwrecked',
 'ferry',
 'selim',
 'attention',
 'gaff',
 'falling',
 'potlach',
 'gingood',
 'black',
 'waist',
 'powerboat',
 'shriek',
 'shelling',
 'rafts',
 'amid',
 'seine',
 'record',
 'those',
 'exploded',
 'lee',
 'diving',
 'wingate',
 'arm',
 'pacific',
 'harpooned',
 'rod',
 'through',
 'trolling',
 'taiaroa',
 'bound',
 'skymaster',
 'surfing',
 'young',
 'just',
 'camp',
 'leap',
 'rescuer',
 'indianapolis',
 'stove',
 'reaching',
 'lobster',
 'glenbank',
 'dived',
 'pod',
 'rizal',
 'rodeo',
 'pirates',
 'towns',
 'mer',
 'powerhead',
 'frigate',
 'release',
 'squid',
 'wave',
 'yardarm',
 'pilings',
 'fleeing',
 'syria',
 'pen',
 'dutch',
 'sinking',
 'voyage',
 'hunting',
 'messboys',
 'package',
 'heavily',
 'channel',
 'for',
 'storm',
 ...]

In [32]:
words=list(map(lambda x: re.fullmatch(r'(.+?)(?:ing)?(?:ed)?(?:er)?\b',x).group(1),bag_words))

In [33]:
len(words)

12796

In [34]:
pd.Series(words).value_counts().head(30)

surf         1171
swimm        1119
fish          803
div           576
spearfish     431
the           360
for           211
wat           202
shark         194
bath          192
board         187
wad           179
from          163
stand         155
boat          153
scuba         145
body          138
overboard     107
fell          105
with          102
snorkel       101
free          100
into           77
capsiz         73
his            69
sea            68
aft            62
kayak          61
ship           60
was            59
dtype: int64

In [35]:
categories = set(pd.Series(words).value_counts().head(30).index)

In [36]:
categories=categories - set(['aft','for','free','from','his','into','sea','shark','swimm','the','was','wat','with']) | set(['swim'])

In [37]:
len(categories)

18

In [38]:
categories

{'bath',
 'board',
 'boat',
 'body',
 'capsiz',
 'div',
 'fell',
 'fish',
 'kayak',
 'overboard',
 'scuba',
 'ship',
 'snorkel',
 'spearfish',
 'stand',
 'surf',
 'swim',
 'wad'}

In [39]:
df=df.Activity.fillna('missing value')

In [41]:
for i in categories:
    df.loc[df.Activity.str.lower().str.contains(i), 'New_Activity']=i

AttributeError: 'Series' object has no attribute 'Activity'

In [ ]:
df['href'][df['href'].notna()]

In [ ]:
#the link href formula give us an access to a lot of information we will probably need.
# http://sharkattackfile.net/spreadsheets/pdf_directory/

In [ ]:
df['Year']=df['Year'].fillna(0)
df['Year']=df['Year'].astype(int)
df['Year']

In [ ]:
df[['Date','Year','pdf']][df['pdf'].notna()]

In [ ]:
# all rows containing only NaN will be dropped

In [ ]:
#df.dropna(subset=['Case Number','Date','Year','Type','Country','Area','Location','Activity','Name','Age','Injury','Fatal (Y/N)','Time','Investigator or Source','pdf','href formula','href','Case Number.1','Case Number.2','original order'])